body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', monospace;
}
/* unvisited link: Picton Blue */
a:link {
  color: #3cc1ec;
}
/* visited link: Scooter */
a:visited {
  color: #31a3c7;
}
/* mouse over link: Scooter */
a:hover {
  color: #3dd1ff;
}
/* selected link: Blizzard Blue */
a:active {
  color: #9edef3;
}
