body {
  background-color: #373737;
  color: #c3c3c5;
  font-family: Verdana, sans-serif;
  /* Add some bottom padding so the fixed footer doesn’t overlap content */
  padding-bottom: 50px;
}

a:link, a:visited {
  background-color: #3d3d3d;
  color: white;
  padding: 20px 25px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #353535;
}

.scrolling-container {
  width: 100%;
  padding: 1% 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #2c2c2c;
}

.scrolling-content {
  display: inline-block;
}

.footer {
  margin: 1.75% 0;
  width: 96.5%;
  position: fixed;
  bottom: 0;
  background-color: gray;
  color: white;
  text-align: center;
}
